<!--/* card.html */-->
<div
  class="cmp-card light bg-primary transition-all-1 ${properties.theme} ${properties.variant}"
  data-sly-test.hasContent="${!properties.title}"
  data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
>
  <div class="cmp-card__content">
    <div class="cmp-card__image-container">
      <div class="cmp-card__image-skeleton"></div>
      <div
        class="cmp-card__image"
        alt="${properties.title}"
        data-sly-resource="${resource.path @ resourceType = 'core/wcm/components/image/v2/image', cssClassName='cmp-card__image'}"
      ></div>
    </div>
    <div class="cmp-card__inner">
      <div class="cmp-card__header">
        <h2 class="cmp-card__name typo-secondary typo-color-primary transition-all-1">
          ${properties.name}
        </h2>
        <p class="cmp-card__roles typo-secondary typo-color-primary transition-all-1">
          ${properties.occupations}
        </p>
        <p
          class="cmp-card__rating typo-secondary typo-color-secondary transition-all-1 bg-secondary"
        >
          ${properties.rating}
        </p>
      </div>
      <div class="cmp-card__description">
        <p class="typo-secondary typo-color-primary transition-all-1">${properties.description}</p>
      </div>
    </div>
  </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>
