:root {
  /* Light theme colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-tertiary: #efef5d;
  --color-light: #fff;
  --color-dark: #343a40;

  /* Dark theme colors */
  --color-primary-dark: #1e90ff;
  --color-light-dark: #343a40;

  /* Text colors */
  --text-color-primary: #fff;
  --text-color-secondary: var(--color-tertiary);
  --text-color-hover: var(--color-light-dark);

  --text-color-tertiary: var(--color-tertiary);

  /* Surface colors */
  --surface-color: var(--color-tertiary);
  --surface-color-hover: var(--color-light);
  --surface-color-secondary: var(--color-light);
  --surface-color-secondary-hover: var(--color-tertiary);
  --surface-color-border: #3437f1;
  --surface-color-border-hover: #3437f1;
}

.dark {
  /* Dark theme colors */
  --color-primary: #fff;
  --color-dark: #fff;

  /* Text colors */
  --text-color-primary: #3b3f5c;
  --text-color-primary-hover: #3b3f5c;
  --text-color-secondary: var(--color-light);
  --text-color-secondary-hover: var(--color-light);

  --text-color-tertiary: var(--color-light);

  /* Surface colors */
  --surface-color: var(--color-light);
  --surface-color-hover: var(--color-tertiary);
  --surface-color-secondary: var(--color-tertiary);
  --surface-color-secondary-hover: var(--color-light);
  --surface-color-border: #e0e6ed;
  --surface-color-border-hover: #3437f1;
}

$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;
$spacing-xxlarge: 2.5rem;

$surface-color: var(--surface-color);
$surface-color-hover: var(--surface-color-hover);
$surface-color-border: var(--surface-color-border);
$surface-color-border-hover: var(--surface-color-border-hover);

$surface-color-secondary: var(--surface-color-secondary);
$surface-color-secondary-hover: var(--surface-color-secondary-hover);

$text-color-light: var(--color-light);
$text-color-dark: var(--color-dark);

$text-color-primary: var(--color-primary);
$text-color-primary-hover: var(--text-color-secondary-hover);

$text-color-secondary: var(--color-secondary);
$text-color-secondary-hover: var(--surface-color-secondary);

$text-color-tertiary: var(--color-tertiary);

$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;

$gap-small: 0.5rem;
$gap-medium: 1rem;
$gap-large: 1.5rem;
$gap-xlarge: 2rem;
$gap-xxlarge: 2.5rem;
